@{
    Layout = "_Layout";
    var content = ViewBag.content as ContentPage; 
 
    int LanguageID = (int)ViewBag.LanguageID;

}

@await Component.InvokeAsync("MenuView", new { type = "SubHeader" })
 
<div class="section-full p-tb80 inner-page-padding stick_in_parent">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7  sticky_column">
                <div class="project-detail-containt">
                    <div class="bg-white text-black">
                        <h3>@content.Name</h3>
                        <p>@Html.Raw(content.ContentData)</p> 
                    </div>
                </div>
            </div>  
            <div class="col-lg-5 col-md-5 "> 
                <div class="project-detail-outer">
                    @foreach (var item in content.Gallery)
                    {
                        <div class="project-detail-pic m-b30">
                            <div class="sx-media">
                                <img src="http://interalcms.zonagency.com/fileupload/UserFiles/Folders/@item.Link" alt="@item.Alt">
                            </div>
                        </div>
                    } 
                </div>
            </div>

        </div>
         
    </div>
</div> 